/* Fonts */
/* Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/* Kalam */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');


/* Nav-bar */
header {
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #949494;
}

.logo {
	cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
	font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

.nav__links {
	list-style: none;
    display: flex;
}

.nav__links li {
	padding: 0px 20px;
}

.nav__links li a {
	transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
	color: #0077aa;
}

.cta {
	padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

.cta:hover {
	background-color: rgba(0, 136, 169, 0.8);
}

/* Mobile Nav */
  
.menu {
	display: none;
}

.overlay {
	height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #949494;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.overlay--active {
	width: 100%;
}

.overlay__content {
	display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
	padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
}

.overlay a:hover, .overlay a:focus {
	color: #0077aa;
}
.overlay .close {
	position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
}

@media screen and (max-height: 450px) {
	.overlay a {
		font-size: 20px;
    }
    .overlay .close {
		font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 800px) {
	.nav__links, .cta {
		display: none;
    }
    .menu {
		display: initial;
    }
}

/* Main */
body {
	background-color: #fafafa;
	color: #454545;
	font-family: "Ubuntu", sans-serif;
	margin: 0;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Kalam", sans-serif;
}

.logo img{
	border-radius: 20px;
}